.participation-activities-table {
    padding: 20px;
}

.check {
    font-size: 15px;
    color: #e00000;
    font-weight: 500;
}

.round{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #e00000;
    border-radius: 100%;
    margin-right: 5px;
}