.wrapper-main {
    display: flex;
    min-height: 100vh;
    background-color: rgb(209, 229, 255);
}

.wrapper-sidebar {
    width: 15%;
}

.main-content {
    background-color: rgb(209, 229, 255);
    width: 100%;
    border-left: 1px solid var(--separator-color);
}