.activities-page {
    padding: 20px;
}

.activities {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.header {
    display: flex;
    align-items: center;
    gap: 15px;
}