.participation-activity-modal {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5;
    transform: scale(1);
    opacity: 1;
    pointer-events: all;
}

.participation-activity-modal-content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    width: 500px;
    transform: scale(0.5);
    transition: 0.4s all;
    transform: scale(1);
}

.form {
    margin-top: 6px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.field {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.field label {
	color: #C4C4C4;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
}

.participation-activity-comment-block {
    margin-top: 6px;
}

.participation-activity-comment {
    font-size: 12px;
    color: rgb(255, 65, 65);
}

.participation-activity-buttons {
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
